.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10% 10% 0 10%; /* Shorthand for padding-top and padding-left */
  min-height: 100vh;
}

.intro-link {
  margin-top: -15px;
  font-family: var(--font-ntr);
  color: rgb(219, 214, 196);
  font-weight: 300;
  font-size: 2.5rem; /* Use rem for scalability */
}

.cmd-style {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  padding-bottom: 2%;
}

.intro-title,
.intro-name {
  font-family: var(--font-ntr);
  color: var(--primary); /* Assuming .intro-name color should be primary */
  font-weight: bold; /* Assuming you want the title bold as well */
  font-size: 6.5rem; /* Use rem for scalability */
}

.intro-subtitle {
  margin-top: -36px;
  font-family: var(--font-ntr);
  color: var(--description);
  font-weight: 300;
  font-size: 3.5rem; /* Use rem for scalability */
}

.intro-desc {
  color: var(--description);
  font-family: var(--font-ntr);
  font-size: 1.375rem; /* 22px to rem */
  max-width: 600px; /* max-width in px for better control */
  text-align: start;
  padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .intro {
    padding: 5% 5% 0 5%; /* Reduced padding for smaller screens */
    align-items: center;
  }

  .intro-title,
  .intro-name {
    font-size: 8vw; /* Increase base font-size for smaller screens if needed */
  }

  .intro-subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 5vw; /* Increase base font-size for smaller screens if needed */
    text-align: center;
  }

  .intro-desc {
    font-size: 4vw; /* Increase base font-size for smaller screens if needed */
    max-width: 85%; /* Increased max-width for mobile devices */
    padding: 10px 0; /* Adjust padding */
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  /* You can even have a more specific query for very small screens */

  .intro-link,
  .intro-title,
  .intro-name,
  .intro-subtitle,
  .intro-desc {
    font-size: 6vw; /* Adjust font size for very small screens */
  }
  
  .intro-desc {
    max-width: 90%; /* Further increased max-width for very narrow screens */
  }
}