.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  padding-right: 25%;
  min-height: 60vh;
}

.spotlight-container {
  display: flex;
  flex-direction: column; /* Change to column for mobile */
  align-items: center; /* Center the carousel items */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 10px;
}

@media (max-width: 1080px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.section-header {
  display: flex;
  padding-bottom: 42px;
  width: 100%; /* Use 100% instead of 100vw to avoid horizontal scrolling */
  align-items: baseline;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-bg);
}

.section-title {
  font-family: var(--font-ntr);
  color: var(--title);
  font-size: 46px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .projects {
    min-height: unset;
    padding: 10px; /* Reduce padding for smaller screens */
  }
  
  /* No longer hiding the carousel */
  .carousel .carousel-inner .carousel-item img {
    width: 100%; /* Set carousel image width */
    height: auto; /* Maintain aspect ratio */
  }

  .carousel .carousel-control-prev,
  .carousel .carousel-control-next {
    display: none; /* Optionally hide the carousel controls on small screens */
  }

  .section-header {
    padding-bottom: 20px; /* Reduce padding for the header */
  }

  .section-header::after {
    /* Adjust or hide the decorative after element as needed */
    width: 50px; /* Shorten the width */
    margin-left: 10px; /* Adjust left margin */
  }

  .section-title {
    font-size: 28px; /* Reduce title font size for smaller screens */
  }

  .projects-card {
    padding: 1rem; /* Adjust card padding */
  }

  .card-title {
    font-size: 20px; /* Adjust card title font size */
  }

  .card-desc {
    font-size: 15px; /* Adjust card description font size */
  }

  .card-tech {
    font-size: 14px; /* Adjust card tech font size */
  }
}
